@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;500;700;800&amp;display=swap" rel="stylesheet');

body {
    font-family: "Spline Sans", "sans-serif";
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
    flex-shrink: 0;
    /* padding: 0.5em 0; */
}

/* ===== ヘッダー ===== */
header {
    background-color: white;
    color: black;
    padding: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo-section{
    display: flex;
    align-items: center;
    gap: 10px;
}
#logo{
    display: flex;
    align-items: center;
    width: 50px;

}

header nav{
    width: 40%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 10px;
}

header nav a {
    color: rgb(125, 125, 129);
    text-decoration: none;
    font-weight: nomal;
    font-size: small;
}

header nav a:hover {
    text-decoration: underline;
}

header nav a.active{
    padding: 10px;
    background-color: #fce8ef;
    color: #FF4081;
    border-radius: 10px;
}

input[type="text"]{
    width: 30%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f3f4f7;
}
.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#myicon{
    display: flex;
    flex-shrink: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ccc;
}
#myicon:hover{
    background-color: #c0c0c0;
}
#item-button{
    padding: 10px 30px;
    font-size: smaller;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
}

/* ===== メインコンテンツ ===== */
main {
    padding: 2em;
}

/* ===== フッター ===== */
.site-footer {
    margin-top: 40px;
    padding: 20px 0;
    background-color: #f1f3f5; 
    text-align: center;
    font-size: 13px;
    color: #555;
    border-top: 1px solid #d1d5db; 
  }
  
  .footer-nav {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  
  .footer-nav a {
    color: #555; 
    text-decoration: none;
  }
  
  .footer-nav a:hover {
    text-decoration: underline;
  }
/* ===== ボタン ===== */
button {
    padding: 0.5em 1em;
    border: none;
    background-color: #FF4081;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}


