<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>推し活アプリ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!-- ヘッダー -->
    <header>
        <div id="logo-section">
            <img src="{{ url_for('static', filename='images/demo_logo.png') }}" alt="ロゴ" id="logo">
            <h3>推し活アプリ</h3>
        </div>
        <nav>
            <a href="/" class="{% if request.path == '/'%}active{%endif%}">ホーム</a>
            <!-- <a href="/item/create" class="{% if request.path == '/item/create'%}active{%endif%}">登録</a> -->
            <a href="/items/search" class="{% if request.path == '/items/search'%}active{%endif%}">検索</a>
        </nav>
        <div class="header-right">
            <button type="button" id="item-button" onclick="location.href='/item/create'">+アイテムを追加</button>
            <a href="/account/edit" id="myicon">{{ initial }}</a>
        </div>
    </header>

    <!-- メインコンテンツ -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- フッター -->
    <footer>
        <p>© 2025 Team Oshikatsu</p>
    </footer>
    
</body>
</html>
