{%extends "base.html" %}
{%block content%}
    <video id="camera" autoplay></video><br>
    <img id="img">
        
    <canvas id="myCanvas" style="display:none"></canvas><br>
    <input type="text" id="txt" value="図の内容について日本語で回答してください" size=50>
    <button id="start">send</button>
	<div id="answer">返信内容</div>
	
    <script>
        
        // 初期設定
        var canvas = document.getElementById('myCanvas');
        var ctx = canvas.getContext('2d');

        var video = document.getElementById('camera');
                
        $(document).ready(function() {
            
            ///////以下、Webカメラを取り扱う処理

            video.setAttribute("width", 320);
            video.setAttribute("height", 240);

            //カメラが起動できたかのフラグ
            var localMediaStream = null;
            //カメラ使えるかチェック
            var hasGetUserMedia = function() {
                return (navigator.getUserMedia || navigator.webkitGetUserMedia ||
                        navigator.mozGetUserMedia || navigator.msGetUserMedia);
            };

            //エラー
            var onFailSoHard = function(e) {
                console.log('カメラを利用できません!', e);
                alert("カメラを利用できません! "+e);
            };

            if(!hasGetUserMedia()) {
                alert("Unsupported browser.");
            } else {
                window.URL = window.URL || window.webkitURL;
                navigator.getUserMedia  = navigator.getUserMedia ||
                                navigator.webkitGetUserMedia || navigator.mozGetUserMedia ||
                                navigator.msGetUserMedia;
                navigator.getUserMedia({video: true}, function(stream) {
                
                        //video.src = window.URL.createObjectURL(stream);//Chrome以外の場合
                        video.srcObject = stream;//Chromeの場合
                        
                        localMediaStream = stream;
                }, onFailSoHard);
            }
        });
        

        // ボタンがクリックされた時の処理
        $('#start').on('click', function() {
            
            //videoの縦幅横幅を取得
            var w = video.offsetWidth;
            var h = video.offsetHeight;

            //同じサイズをcanvasに指定
            canvas.setAttribute("width", w);
            canvas.setAttribute("height", h);

            //canvasにコピー
            ctx.drawImage(video, 0, 0, w, h);

            var imageData = canvas.toDataURL('image/png');
            var base64Data = imageData.replace(/^data:image\/png;base64,/, "");

            var txt = $('#txt').val();

            // サーバーに送信
            $.ajax({
                type: 'POST',
                url: '/upload',  // サーバー側のurl
                data: {
                    "imgurl": base64Data, "prompt": encodeURIComponent(txt)
                },
                success: function(response) {
                    
                    //ここに自分のプログラムを記述する！！
                    //サーバーからの返答が変数responseに入っている
                    
                    $('#answer').html(response);
                    
                },
                error: function() {
                    alert('失敗しました');
                }
            });
        });

    </script>
{%endblock%}